.DS_Store
.ipynb_checkpoints
.vscode
__pycache__
wine/
.*
.*/
Untitled*
dnnlib/
models/
transformers/
*nlp_ready*
wandb/
runs/
data/modeling/
data/gpt2_runs/
gpt2_deepspeed/distilgpt2_model
gpt2_deepspeed/gpt2-xl_model
gpt2_deepspeed/run.sh
gpt2_deepspeed/ds_config_1gpu.json
