astroid==2.2.5
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach>=3.3.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
docker-pycreds==0.4.0
entrypoints==0.3
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.7
gql==0.2.0
graphql-core==1.1
idna==2.10
importlib-metadata @ file:///C:/ci/importlib-metadata_1593431910144/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi @ file:///C:/ci/jedi_1596472773465/work
Jinja2==2.11.3
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator @ file:///D:/bld/jupyter_nbextensions_configurator_1594127272965/work
lazy-object-proxy==1.4.2
lxml @ file:///D:/bld/lxml_1594322943722/work
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==2.0.3
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nbconvert==6.5.1
nbformat==5.0.7
nlp==0.4.0
notebook>=6.1.5
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233948451/work
nvidia-ml-py3==7.352.0
olefile==0.46
packaging==20.4
pandas @ file:///C:/ci/pandas_1592833608684/work
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594299032796/work
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
psutil==5.7.2
pyarrow==1.0.0
Pygments==2.7.4
pylint==2.3.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==301
pywinpty==0.5.7
PyYAML==5.4
pyzmq==19.0.1
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
regex==2020.7.14
requests==2.24.0
sacremoses==0.0.43
scikit-learn @ file:///C:/ci/scikit-learn_1592853528256/work
scipy @ file:///C:/ci/scipy_1592930618155/work
Send2Trash==1.5.0
sentencepiece==0.1.91
sentry-sdk==0.16.3
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tokenizers==0.8.1rc2
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
-e git+https://github.com/huggingface/transformers.git@2f2aa0c89cab9a77560e6845578f917a61081c67#egg=transformers
typed-ast==1.4.0
urllib3==1.26.5
wandb==0.9.4
watchdog==0.10.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
xxhash==2.0.0
zipp==3.1.0
