astroid==2.2.5
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.0
dataclasses==0.7
docker-pycreds==0.4.0
filelock==3.0.12
gitdb==4.0.5
gitpython==3.1.7
gql==0.2.0
graphql-core==1.1
idna==2.10
isort==4.3.21
joblib==0.16.0
lazy-object-proxy==1.4.2
mccabe==0.6.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.1
nvidia-ml-py3==7.352.0
olefile==0.46
packaging==20.4
pathtools==0.1.2
pillow==7.2.0
pip==20.1.1
promise==2.3
psutil==5.7.2
pylint==2.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
pyyaml==5.3.1
regex==2020.7.14
requests==2.24.0
sacremoses==0.0.43
sentencepiece==0.1.91
sentry-sdk==0.16.3
setuptools==49.2.0.post20200714
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
tokenizers==0.8.1rc2
torch==1.6.0
torchvision==0.7.0
tqdm==4.48.2
transformers==3.0.2
typed-ast==1.4.0
urllib3==1.25.10
wandb==0.9.4
watchdog==0.10.3
wheel==0.34.2
wincertstore==0.2